@page "/genres/create";
@using LibraryBlazor.DTOs.Create
@inject IGenreService genreService;
@inject NavigationManager navigationManager;

<h2 class="mb-3">Create genre</h2>

<EditForm Model="CreateGenreModel" FormName="createGenre" OnValidSubmit="@OnFormSubmitAsync">
    <DataAnnotationsValidator />

    <div class="form-group mb-3">
        <label>Name</label>
        <InputText @bind-Value=CreateGenreModel.Name class="form-control" placeholder="Enter name">@CreateGenreModel.Name</InputText>
        <ValidationMessage For="@(() => CreateGenreModel.Name)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
        <NavLink href="/genres"><button type="button" class="btn btn-danger">Cancel</button></NavLink>
    </div>

</EditForm>

@code {
    [SupplyParameterFromForm]
    public CreateGenreDto CreateGenreModel { get; set; } = new CreateGenreDto();

    public async Task OnFormSubmitAsync()
    {
        var genre = new Genre()
            {
                Name = CreateGenreModel.Name
            };

        await genreService.AddAsync(genre);

        navigationManager.NavigateTo("/genres");
    }
}
