@page "/genres/edit/{Id:int}"
@using LibraryBlazor.DTOs.Create
@using LibraryBlazor.DTOs.List
@inject IGenreService genreService
@inject NavigationManager navigationManager

@if (CreateGenreModel == null)
{
    <p><em>Not found genre with id: @Id</em></p>
}
else
{
    <h1>Edit genre</h1>

    <EditForm Model="CreateGenreModel" FormName="editGenre" OnValidSubmit="@OnFormSubmitAsync">
        <DataAnnotationsValidator />

        <div class="form-group mb-3">
            <label>Name</label>
            <InputText @bind-Value=CreateGenreModel.Name class="form-control" placeholder="Enter name">@CreateGenreModel.Name</InputText>
            <ValidationMessage For="@(() => CreateGenreModel.Name)" />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
            <NavLink href="/genres"><button type="button" class="btn btn-danger">Cancel</button></NavLink>
        </div>

    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public CreateGenreDto CreateGenreModel { get; set; } = null!;


    protected override async Task OnInitializedAsync()
    {
        var genre = await genreService.GetAsync(Id);

        if (genre == null)
        {
            return;
        }

        CreateGenreModel = new CreateGenreDto()
            {
                Name = genre.Name
            };
    }

    public async Task OnFormSubmitAsync()
    {
        var genre = new Genre()
            {
                Name = CreateGenreModel.Name
            };

        await genreService.UpdateAsync(Id, genre);
        navigationManager.NavigateTo("/genres");
    }
}

